
@media screen and  (max-width: 630px) {
  @keyframes sales {
    0% {
      opacity: 1;
    }
    20% {
      opacity: 0;
    }
    40% {
      opacity: 0.4;
    }
    60% {
      opacity: 0.8;
    }
    70% {
      opacity: 1;
    }
    80% {
      opacity: 0;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
 
  .cart-btn-nav,
  .call-btn-nav,
  .heart-btn-nav {
    border: none;
    background-color: white;
    padding: 0.5rem;
    margin-left: 1rem;
  }
  .cart-icon-nav {
    font-size: 1.8rem;
    color: rgb(230, 78, 154);
  }
  .call-icon-nav {
    font-size: 2rem;
    color: rgb(69, 72, 240);
    
  }
  .heart-icon-nav {
    font-size: 1.8rem;
    color: red;
  }

  .navbar-div-nav {
    width: 100%;
    background-color: rgb(212, 204, 204);
    /* margin-bottom: 1rem; */
    height: 2.5rem;
    padding-top: 0.4rem;
padding-bottom: 2.5rem;
/* padding-right: 3rem; */
    
  }
  .search-nav {
    width: 18rem;
    height:2rem;
    /* border:1px solid red; */
    margin-left: 4rem;
    margin-bottom: 1rem;
    padding-left: 1rem;
    margin-right: 0.1rem;
  }
  .search-btn-new {
 /* margin-right: 1rem; */
    border: none;
    background-color: rgba(0, 0, 0, 0.622);
     color: white; 
     font-size: 1.1rem; 
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
     /* margin-bottom: 2rem; */
     position:absolute;
     left: 20rem;
  }
  .search-div {
    display: flex;
  }
  .nav-link {
    font-size: 1rem;
    width: 5rem;
    padding: 0px;
  }
  .nav-toogler-mob{
    margin-left:-1rem;
  }
  .logo-image{
    width: 3rem;
    height: 3rem;
  }
  .brand-name {
    margin-left: -1rem;
    text-decoration: none;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3rem;
  }
  .nav-disc-div > p {
    color: white;
    font-family: cursive;
    display: flex;
    justify-content: center;
    font-weight: bolder;
    animation-name: sales;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  .nav-disc-div {
    height:1.5rem;
    background-color: rgb(189, 71, 71);
  }
  .nav-login-div {
    display: flex;
    
  }

  .sign-button {
    background-color: rgb(133, 133, 245);
    color: white;
    margin-top: 1rem;
    margin-left: 1rem;
    width: 5.5rem;
    height: 2rem;
   border-radius: 25px 0px 25px 0px;
    border:none;
    font-size: 1.2rem;
    text-decoration: none;
    overflow: hidden;
  }
  .sign-button:hover {
    border-radius: 0px 25px 0px 25px;
  }
  a:hover {
    color: white;
  }
  .login-button {
    background-color: rgb(236, 113, 113);
    margin-top: 1rem;
    /* margin-left: -10rem; */
    border: none;
    border-radius: 0px 25px 0px 25px;
    width: 5.5rem;
    height: 2rem;
    color: white;

    overflow: hidden;
    font-size: 1.2rem;
    text-decoration: none;
  }
  .sign-button:hover {
    border-radius: 25px 0px 25px 0px;
  }
  .cart-pro-count {
    height: 1.3rem;
    width: 1.3rem;
    background-color: red;
    border: 1px solid red;
    border-radius: 50%;
    position:absolute;
    
    top: 0.4rem;
    right: 1.4rem;

    color: white;
    opacity: 0.7;
    overflow: hidden;
  }
  .cart-pro-count-para {
    /* margin-top: -0.1rem;
    margin-left: 0.2rem; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    
  }
  .search-nav-desktop {
    display: none;
    opacity: 0;
    pointer-events: none;
    visibility: none;
    z-index: -1;
  }
  .search-btn-new-desktop{
    display: none;
  }
}


/* ****************** Desktop version******************* */
@media only screen and (min-width: 1000px) {
@keyframes sales {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.8;
  }
  70% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.contact-des{
  display:none
}
.nav-toogler-mob{
  /* border:1px solid red; */
  display: none;
}
.nav-login-div {
  width: 15rem;
  /* border: 1px solid red; */
  position: relative;
  left: 2rem;
  top:-0.5rem;
  border:1px solid yellow;
  
}
.icons-cart-div{
  width: 7rem;
  padding-left:0rem ;
  /* border: 1px solid red; */
  position: relative;
  left: 8rem;
  
}
.navbar-div-desktop{
  /* border:1px solid red; */
  width:25rem;
  height: 3rem;
  padding: 0.5rem;
  position: relative;
  left: 6rem;
  padding-bottom: 3rem;
  /* margin-left: 3rem; */
  overflow: hidden;

}
.search-nav-desktop {
  width: 18rem;
  height: 2rem;
 border:1px solid black;
  padding-bottom: 0.1rem;
  padding-left: 1rem;
}
.cart-btn-nav,
.call-btn-nav,
.heart-btn-nav {
  border: none;
  background-color: white;
  padding: 0.5rem;
  margin-left: -0.5rem;
  cursor: pointer;
}
.cart-icon-nav {
  font-size: 1.8rem;
  color: rgb(230, 78, 154);
  margin-left: 1rem;
}
.call-icon-nav {
  font-size: 1.8rem;
  color: rgb(69, 69, 240);
  
}
.navbar-div-nav {
  background-color: rgb(228, 30, 30);
  height: 2.5rem;
  padding-top: 0.4rem;
  z-index: 1;
  display:none;
  
}
.search-btn-new-desktop {

  border: none;
  background-color: grey;
  /* margin-right: 6rem; */
  padding: 0.25rem 0.5rem;
  
  
}
.search-div {
  display: flex;
  margin-top: -5rem;
}
.nav-link {
  font-size: 1rem;
  width: 5rem;
  /* padding: 0px; */
}
nav >.container {
  margin: 0px;
  max-width: 3000px;
}
.logo-image{
  height:4rem;
  width:5rem;

}
.brand-name {
  text-decoration: none;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.3rem;
  z-index: 1;
  /* margin-left: -4rem; */
  position: relative;
  left: 5rem;
  display: flex;
  
}
.nav-disc-div > p {
  color: white;
  font-family: cursive;
  display: flex;
  justify-content: center;
  font-weight: bolder;
  animation-name: sales;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.nav-disc-div {
  height:1.5rem;
  background-color: rgb(234, 96, 46);
  overflow: hidden;
}


.sign-button {
  background-color: rgb(133, 133, 245);
  color: white;
  margin-top: 1rem;
  margin-left: 1rem;
  width: 5.5rem;
  height: 2rem;
 border-radius: 25px 0px 25px 0px;
  border:none;
  font-size: 1.2rem;
  text-decoration: none;
  overflow: hidden;
}
.sign-button:hover {
  border-radius: 0px 25px 0px 25px;
}

a:hover {
  color: white;
}
.collapse{
  /* border: 1px solid green; */
  /* margin-left: -5rem; */
  /* position: relative;
  left: -1rem; */
  width: 10rem;
  
}

.login-button {
  background-color: rgb(236, 113, 113);
  margin-top: 1rem;
 
  border: none;
  border-radius: 0px 25px 0px 25px;
  width: 5.5rem;
  height: 2rem;
  color: white;
margin-left:1rem;
  overflow: hidden;
  font-size: 1.2rem;
  text-decoration: none;
}
.login-button:hover{
  border-radius: 25px 0px 25px 0px;
}
.login-as-name {
  display: none;
  opacity: 0;
  pointer-events: none;
  visibility: none;
  z-index: -1;
}
.cart-pro-count {
  height: 1rem;
  width: 1rem;
  background-color: red;
  border: 1px solid red;
  border-radius: 50%;
  color: white;
  opacity: 0.7;
  position: relative;
  left: 4.8rem;
  top:-1rem;
  
  /* display: none; */
  overflow: hidden;
  
}
.Nav-home {
  display: none;
  opacity: 0;
  pointer-events: none;
  visibility: none;
  z-index: -1;
}
.Nav-contact {
  display: none;
  opacity: 0;
  pointer-events: none;
  visibility: none;
  z-index: -1;
}
.cart-pro-count-para {
overflow: hidden;
font-size: 0.8rem;
/* margin-left: 0.5rem; */
display: flex;
align-items: center;
justify-content: center; 
margin-top: -0.2rem;

}

}

