@media (max-width:630px) {
    .detail-image{
        margin-top: 1rem;
     margin-left: 1rem;
     height: 15rem;
     width: 22rem;
     /* height: auto;
     width: auto; */
     margin-right: 1rem;
    }
    .detail-name{
        /* margin-left: 1rem; */
        padding-left: 1rem;
        margin-top: 1.5rem;
        font-size: 2rem;
        background-color: rgb(79, 66, 66);
        color: white;
        width: 10rem;
        /* border-radius: 15px; */
        text-transform: uppercase;
    }
    .detail-price{
        font-size: 1.5rem;
        margin-left: 0.5rem;
        margin-top: 1rem;
        background-color: rgba(128, 128, 128, 0.341);
        width: 13rem;
        padding-left: 1rem;
        border-radius: 1rem;
    }
    .detail-desc{
        margin-left: 0.5rem;
        font-size: 1.1rem;
    }
    .rating-detail{
        margin-left: 0.5rem;
    }
    .quantity-section-main{
        margin-left: 0.5rem;
    }
    .quantity-section-main-mobile{
        margin-left: 0.5rem;
        width: 20rem;
    }
    .quatity-div-detail{
        height: 3.5rem;
        width: 7rem;
        border: 2px solid grey ;
        margin-top: 1rem;
        display: flex;
    }
    .add-icon-detail{
      font-size: 1.5rem;
      /* margin-top: 0.5rem; */
      background-color: grey;
      color: white;
      width: 2rem;
      padding-left: 0.5rem;
      padding-top: 0.5rem;
    
    }
    .remove-icon-detail{
        width: 2rem;
        font-size: 1.5rem;
        /* margin-bottom: 1.2rem; */
        background-color: grey;
        padding-left: 0.5rem;
        color: white;
    }
    .color-input{
        padding-left: 1rem;
        border-radius: 1rem;
        margin-left: 1rem;
        /* border: none; */
    }
    .product-quantity{
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1.5rem;
    margin-top: 0.5rem;
    }
    .color-selection-detail{
        margin-left: 0.5rem;
        margin-top: 1rem;
    }
    .add-to-cart-detail{
        margin-top: 2rem;
        margin-left: 0.5rem;
        padding: 0.5rem 1rem;
        font-size: 1.2rem;
        margin-right: 2rem;
        background-color: rgb(243, 96, 96);
        color: white;
        border: none;
    }
    .buying-detail{
        margin-top: 2rem;
        margin-left: 0.5rem;
        padding: 0.5rem 1rem;
        font-size: 1.2rem;
        margin-right: 2rem;
        background-color:rgb(48, 179, 48);
        color: white;
        border: none;
        margin-bottom: 5rem;
    }
    .more-images-detail{
        display: flex;
        height: 5rem;
        width: 20rem;
        margin-left: 2rem;
        margin-top: 0.5rem;
        border: 1px solid black;
    }
    .more-images{
        margin-left: 30%;
        font-size: 1.5rem;
        background-color: black;
        color: white;
        width: fit-content;
        padding: 0.1rem 1rem 0.1rem 1rem;
        border-radius: 2rem;
        margin-top: 0.5rem;
    }
    .more-images-detail > img{
    margin-right: 0.2rem;
    }
    .details-desktop{
        display: none;
    }
    @keyframes alert {
        0%{position: fixed;bottom: 0rem;left: 2rem;}
        25%{position: fixed;bottom: 2rem;left: 2rem;}
        50%{position: fixed;bottom: 4rem;left: 2rem;}
        75%{position: fixed;bottom: 5rem;left: 2rem;}
        100%{position: fixed;bottom: 6rem;left: 2rem;}
     }
         .alert-div-active{
          /* position: fixed;
          bottom: 4rem;
          left: 2rem; */
          /* border:1px solid red; */
          animation-name: alert;
          animation-duration: 2s;
          animation-iteration-count: 1;
          
          padding: 0.5rem 2rem;
          background-color: rgba(0, 0, 0, 0.789);
          color: white;
          border-radius: 0.5rem;
  
         }
         .alert-div-closed{
           position: fixed;
           bottom: 4rem;
           left: 2rem;
           border:1px solid red;
           padding: 1rem 2rem;
           background-color: white;
           display: none;
          }
          .active-spinner{
           position: fixed;
           bottom: 25rem;
           left: 12rem;
          }
          .disable-spinner{
           position: fixed;
           bottom: 25rem;
           left: 12rem;
           display: none;
          }
          .active-color{
            background-color: grey;
            color: white;
            /* margin-left: 0.5rem; */
            padding: 0.1rem 1rem 0.1rem 1rem;
          }
          .disable-color{
            background-color: white;
            color: black;
            /* margin-left: 0.5rem; */
            padding: 0.1rem 1rem 0.1rem 1rem;
          }
}

@media (min-width:1000px) {
    .deatil-grid{
        display: grid;
        grid-template-columns: 70% 30%;
        margin-top: 2rem;
        column-gap:1rem;
    }
    .detail-image{
        /* margin-top: 1rem; */
    margin-left: 15rem;
     height: 25rem;
     width: 40rem;
    }
    .detail-name{
        /* margin-left: 1rem; */
        padding-left: 1rem;
        margin-top: 1rem;
        font-size: 2rem;
        background-color: rgb(79, 66, 66);
        color: white;
        width: 10rem;
        /* border-radius: 15px; */
        text-transform: uppercase;
        
    }
    .detail-price{
        font-size: 1.5rem;
        margin-left: 0.5rem;
        padding-left: 1rem;
        margin-top: 1rem;
        font-size: 2rem;
        background-color: rgb(79, 66, 66);
        color: white;
        width: 20rem;
        /* border-radius: 15px; */
        text-transform: uppercase;
    }
    .detail-desc{
        margin-left: 0.5rem;
        font-size: 1.2rem;
    }
    .rating-detail{
        margin-left: 0.5rem;
    }
    .quantity-section-main{
        margin-left: 0.5rem;
    }
    .quatity-div-detail{
        height: 3.5rem;
        width: 7rem;
        border: 2px solid grey ;
        margin-top: 1rem;
        display: flex;
    }
    .add-icon-detail{
      font-size: 1.5rem;
      /* margin-top: 0.5rem; */
      background-color: grey;
      color: white;
      width: 2rem;
      padding-left: 0.5rem;
      padding-top: 0.5rem;
    
    }
     .more-images{
        margin-left: 45%;
        font-size: 1.5rem;
        background-color: black;
        color: white;
        width: fit-content;
        padding: 0.1rem 1rem 0.1rem 1rem;
        border-radius: 2rem;
        margin-top: 0.5rem;
    }
    .remove-icon-detail{
        width: 2rem;
        font-size: 1.5rem;
        /* margin-bottom: 1.2rem; */
        background-color: grey;
        padding-left: 0.5rem;
        color: white;
    }
    .product-quantity{
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1.5rem;
    margin-top: 0.5rem;
    }
    .color-selection-detail{
        margin-left: 0.5rem;
        margin-top: 1rem;
    }
    .select-quantity{
        width: 5rem;
        padding-left: 1.5rem;
        border-radius: 15px;
        background-color: rgb(248, 248, 102);
        border: none;
    }
    .add-to-cart-detail{
        margin-top: 1rem;
        margin-left: 0.5rem;
        padding: 0.5rem 3rem;
        font-size: 1.2rem;
        margin-right: 2rem;
        background-color: rgb(243, 96, 96);
        color: white;
        border: none;
        border-radius: 20px;
    }
    .buying-detail{
        margin-top: 1rem;
        margin-left: 0.5rem;
        padding: 0.5rem 2.5rem;
        font-size: 1.2rem;
        margin-right: 2rem;
        background-color:rgb(48, 179, 48);
        color: white;
        border: none;
        margin-bottom: 1rem;
        border-radius: 20px;
    }
    .return-policy{
        margin-left: 0.5rem;
        color: rgb(255, 0, 0);
    }
    .more-images-detail{
        display: flex;
        height: 5rem;
        width: 25rem;
        margin-left: 23rem;
        margin-top: 0.5rem;
        border: 1px solid black;
    }
    .more-images-detail > img{
    margin-right: 0.2rem;
    }
    .deatils-btn{
        position: relative;
        /* top: -20rem; */
        /* left: 47rem; */
    }
    .price-btn-div{
        border: 1px solid rgb(11, 11, 11);
    }
    .stock{
        color: green;
        font-weight: bold;
        margin-left:0.5rem
    }
    .saftey{
        margin-left: 0.5rem;
    }
    .rating-div{
        /* margin-top: -2rem; */
        border:1px solid black;
        height: 30rem;
        margin-bottom: 2rem;
overflow: hidden;
    }
    .desc-heading{
        overflow: hidden;
        margin-left: 0.5rem;

    }
    .quantity-section-main >h3,.color-selection-detail>h3{
        overflow: hidden;
    }
    .more-images-detail>img{
        cursor: pointer;
    }
    .mobile-view{
        display: none;
    }
     @keyframes alert {
        0%{position: fixed;bottom: 0rem;left: 2rem;}
        25%{position: fixed;bottom: 2rem;left: 2rem;}
        50%{position: fixed;bottom: 4rem;left: 2rem;}
        75%{position: fixed;bottom: 6rem;left: 2rem;}
        100%{position: fixed;bottom: 6rem;left: 2rem;}
     }
         .alert-div-active{
          /* position: fixed;
          bottom: 4rem;
          left: 2rem; */
          /* border:1px solid red; */
          animation-name: alert;
          animation-duration: 2s;
          animation-iteration-count: 1;
          
          padding: 0.5rem 2rem;
          background-color: rgba(0, 0, 0, 0.789);
          color: white;
          border-radius: 0.5rem;
  
         }
         .alert-div-closed{
           position: fixed;
           bottom: 4rem;
           left: 2rem;
           border:1px solid red;
           padding: 1rem 2rem;
           background-color: white;
           display: none;
          }
          .active-spinner{
           position: fixed;
           bottom: 20rem;
           left: 40rem;
          }
          .disable-spinner{
           position: fixed;
           bottom: 20rem;
           left: 40rem;
           display: none;
          }
          .active-color{
            background-color: grey;
            color: white;
            margin-left: 0.5rem;
            padding: 0.1rem 1rem 0.1rem 1rem;
          }
          .disable-color{
            background-color: white;
            color: black;
            margin-left: 0.5rem;
            padding: 0.1rem 1rem 0.1rem 1rem;
          }
          .color-input{
            padding-left: 1rem;
            border-radius: 1rem;
            margin-left: 1rem;
            /* border: none; */
        }
        .color-head{
  margin-left: 1.5rem;
  text-decoration: underline;
        }
        }