@media only screen and  (max-width:430px){
    .trending-sale{
        background-color: rgb(58, 52, 52);
        color: white;
        width:14rem;
        height: 1rem;
        /* margin-left:2rem; */
        padding-left: 20px;
        /* border-radius: 15px; */
        overflow-y: hidden;
    }
    .trending-sale >p {
    font-size: 0.6rem;
    
    }
    .trending-products-main{
        margin-left: 0.5rem;
        margin-top: 1rem;
        margin-right: 0.5rem;
       
    }
    .trending-main-head{
        font-size: 2rem;
        font-weight: bolder;
    }
    .trending-products-main >h3{
        /* color: orange; */
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 1rem;
    }


    .products-img-trend{
       /* width:200px; */
        width: 25rem;
        height:11.2rem;
        opacity: 0.6;
        margin-bottom: -5rem;
        overflow-y: hidden;
    }
    .shop-now-trend{
        position: relative;
        /* top: -0.5rem; */
        bottom: 3rem;
        left: 8rem;
        padding: 5px 13px 5px 13px;
        font-size: 1.1rem;
        background-color: black;
        color: white;
        border: none;
        overflow-y: hidden;
       
    }
    .product-name{
        /* margin-top: 0.5rem; */
        margin-left: 3rem;
        /* font-size: 30px; */
        font-weight: bold;
        position: relative;
        /* top: -0.5rem; */
        bottom: 3.1rem;
        left: 4rem;
        color: white;
        font-size: 2.5rem;
    }
    .trending-header{
        width:20rem;
        /* display: flex; */
        margin-top: 0.5rem;
        margin-left: 5.7rem;
    }
    .trending > h3{
    font-size: 1.4rem;
    font-weight: bolder;
    }
    .product-box{
        overflow-y: hidden;
    }
    .product-img-btn{
        overflow-y: hidden;
    }
   
}
/* @media only screen and  (max-width:512px){
    .trending-sale{
        background-color: rgb(58, 52, 52);
        color: white;
        width:19rem;
        height: 1rem;
        margin-left:2.2rem;
        padding-left: 20px;
        border-radius: 15px;
    }
    .trending-sale >p {
    font-size: 0.6rem;
    
    }
    .trending-products-main{
        margin-left: 2rem;
        margin-top: 1rem;
       
    }
    .trending-main-head{
        font-size: 2rem;
        font-weight: bolder;
    }
    .trending-products-main >h3{
        
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 1.2rem;
    }


    .products-img{
       
        width: 23.5rem;
        height:9.2rem;
        opacity: 0.6;
        margin-bottom: -5rem;
        margin-right: 2rem;
    }
    .shop-now-trend{
        position: relative;
        top: -0.5rem;
        left: 8rem;
        padding: 5px 13px 5px 13px;
        font-size: 1.1rem;
        background-color: black;
        color: white;
        border: none;
       
    }
    .product-name{
      
        margin-left: 3rem;
       
        font-weight: bold;
        position: relative;
        top: -0.5rem;
        left: 4rem;
        color: white;
        font-size: 2.5rem;
    }
   
} */

