@keyframes imager {
    0%{background-image: url("/public/images/1.jpg");    background-position: center; }
    25%{background-image: url("/public/images/2.jpg");    background-position: center; }
    50%{background-image: url("/public/images/3.jpg");    background-position: center; }
    75%{background-image: url("/public/images/4.jpg");    background-position: center; }
    100%{background-image: url("/public/images/1.jpg");    background-position: center; }
}

@media only screen and  (max-width:412px){

    .header-main{
        /* background-image: url("/public/images/1.jpg"); */
        animation-name: imager;
        animation-timing-function: 2s;
        animation-duration: 6s;
        animation-iteration-count: infinite;
    width:22rem;
        opacity: 0.8;
        padding-top: 30px;
        padding-left: 20px;
        padding-bottom: 20px;
        border-radius: 20px;
        margin-left: 1.6rem;
    }
    
    .header-main-section-one{
        font-size: 0.6rem;
        /* border: 1px solid black; */
        width: 11rem;
        padding: 0.2rem;
        border-radius: 2rem;
        background-color: pink;
    }
    .sale-span{
        /* border: 1px solid black; */
        border-radius: 2rem;
        height: 2rem;
        background-color: rgb(234, 169, 49);
        color: white;
        font-weight: bold;
        /* padding-top: 0.3rem;
        padding-bottom: 0.3rem;
        padding: right 0.3rem; */
        padding: 0.3rem;
    
    }
    .discount-span{
        margin-left: 0.5rem;
    }
    .header-main-section-two{
        width: 14rem;
    }
    .header-main-section-third{
        /* font-weight: lighter; */
        color: rgb(222, 219, 219);
        font-weight: bolder;
    }
    .btn-shop{
        padding: 5px 10px 5px 10px;
        color: white;
        background-color: rgb(244, 102, 102);
        border: none;
        border-radius: 2px;
    }


}